<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Course Type</Data></Cell>
        <Cell><Data ss:Type="String">Title</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Count</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
        <Cell><Data ss:Type="String">Rating</Data></Cell>
      </Row>
    <% @udemies.each do |u| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= u.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.course_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.count %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.rating %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>